[submodule "dots/shared/home/.config/nvim"]
	path = dots/shared/home/.config/nvim
	url = https://github.com/AstroNvim/AstroNvim
[submodule "dots/linux/awesome/home/.config/awesome/awesome-wm-widgets"]
	path = dots/linux/awesome/home/.config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
[submodule "dots/linux/awesome/home/.config/awesome/bling"]
	path = dots/linux/awesome/home/.config/awesome/bling
	url = https://github.com/BlingCorp/bling
[submodule "dots/linux/awesome/home/.config/awesome/dots/linux/awesome/home/.config/awesome/smart_borders"]
	path = dots/linux/awesome/home/.config/awesome/dots/linux/awesome/home/.config/awesome/smart_borders
	url = https://github.com/intrntbrn/smart_borders
[submodule "dots/linux/awesome/home/.config/awesome/smart_borders"]
	path = dots/linux/awesome/home/.config/awesome/smart_borders
	url = https://github.com/intrntbrn/smart_borders
[submodule "dots/macos/yabai/home/.config/sketchybar/plugins/Dynamic-Island-Sketchybar"]
	path = dots/macos/yabai/home/.config/sketchybar/plugins/Dynamic-Island-Sketchybar
	url = https://github.com/crissNb/Dynamic-Island-Sketchybar
[submodule "dots/shared/home/.config/fish/plugins/dots/shared/home/.config/fish/plugins/ranger_udisk_menu"]
	path = dots/shared/home/.config/fish/plugins/dots/shared/home/.config/fish/plugins/ranger_udisk_menu
	url = https://github.com/SL-RU/ranger_udisk_menu
