**/*.tmp*
setup.conf
/dots/shared/home/.config/fish/completions
/dots/shared/home/.config/fish/functions
!/dots/shared/home/.config/fish/functions/bak.fish
!/dots/shared/home/.config/fish/functions/cd.fish
!/dots/shared/home/.config/fish/functions/clear.fish
!/dots/shared/home/.config/fish/functions/git.fish
!/dots/shared/home/.config/fish/functions/mkcd.fish
!/dots/shared/home/.config/fish/functions/mvcd.fish
!/dots/shared/home/.config/fish/functions/ranger.fish
/dots/shared/home/.config/fish/fish_variables
/dots/shared/home/.config/fish/conf.d/
!/dots/shared/home/.config/fish/conf.d/tide.fish
/dots/shared/home/.config/ranger/config/local.conf
/dots/shared/home/.config/spicetify/config-xpui.ini
/dots/shared/home/.config/spicetify/Extracted/**/*
/dots/shared/home/.config/spicetify/Backup/**/*
/dots/shared/home/.ssh/id_rsa*
/scripts/os/mac/Brewfile.lock.json
scripts/os/user_path_bak.txt
install.log
dots/linux/hyprland/home/.config/rofi/spotlight/history.txt
dots/linux/hyprland/home/.config/OpenRGB/logs
dots/linux/hyprland/home/.config/OpenRGB/logs
dots/shared/home/.config/kitty/macos.kitty.conf
