linux/hyprland/home/.config/aconfmgr/files/etc/pug.bkp filter=git-crypt diff=git-crypt
linux/hyprland/home/.config/aconfmgr/files/etc/davmail.properties filter=git-crypt diff=git-crypt
linux/hyprland/home/.config/aconfmgr/files/etc/NetworkManager/system-connections/* filter=git-crypt diff=git-crypt
shared/home/.wakatime.cfg filter=git-crypt diff=git-crypt

.gitattributes !filter !diff
