#!/usr/bin/env bash
# ^ added for shellcheck and file-type detection

# Watch & reload direnv on change
watch_file devshell.toml

if [[ $(type -t use_flake) != function ]]; then
	echo "ERROR: use_flake function missing."
	echo "Please update direnv to v2.30.0 or later."
	exit 1
fi
if ! has nix_direnv_version || ! nix_direnv_version 2.3.0; then
	source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.3.0/direnvrc" "sha256-Dmd+j63L84wuzgyjITIfSxSD57Tx7v51DMxVZOsiUD8="
fi
use flake
