@import "macchiato.css";

/**
* Custom styling for a catppuccin style waybar
* Config settings listed in order from left -> right on bar
* */

/**
* Global configuration for theme 
* */
* {
  font-family: Liga SFMono Nerd Font;
  font-size: 16px;
  border-radius: 0.75em;
}

window#waybar {
  border: 2px solid @surface1;
  background: @theme_base_color;
  box-shadow: 1px 1px 10px 10px @mantle;
  color: @theme_text_color;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background: @base;
  border: 1px solid @blue;
}

tooltip label {
  color: white;
}

label:focus {
  background-color: #000000;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* Remove border from parent waybar */
box {
  border: none;
}

/* Primary monitor configuration */
window.DP-1,
#notifications,
#workspaces {
  margin: 0.5em;
  padding-left: 5px;
  padding-right: 5px;
  color: @peach;
  font-weight: bold;
  background-color: @surface0;
  border: 2px solid @surface1;
}

/* Secondary monitor configuration */
window.DP-3 #workspaces {
  margin: 0.5em;
  padding: 0 1em;
}

/* Wlr/workspaces configuration  */
#window,
#workspaces {
  color: @peach;
}

#workspaces label {
  font-size: 20px;
}

#workspaces button {
  padding: 0 0.5em;
  background-color: @surface0;
  color: @text;
  margin: 0.25em;
}

#workspaces button.active {
  /* background-color: @surface2; */
  color: @blue;
}

#workspaces button.urgent {
  background-color: @red;
  color: @text;
}

/* Add spacing for right side modules */
#tray,
#user,
#keyboard-state,
#mpd {
  padding: 0 1em;
}

#custom-notification,
#custom-updates,
#custom-github,
#custom-weather,
#idle_inhibitor,
#wireplumber,
#battery,
#cpu,
#memory,
#temperature,
#disk,
#network {
  padding: 0 0.5em;
}

#custom-updates.updated {
  padding-left: 0;
  padding-right: 1em;
}

/* Unique colors for modules */
#cpu {
  color: @red;
}

#memory {
  color: @yellow;
}

#user {
  color: @blue;
}

#custom-pipewire {
  color: @green;
}

#temperature {
  color: @green;
}

#custom-github {
  color: @blue;
}

#custom-updates {
  color: @red;
}

#network.disconnected {
  background-color: #f53c3c;
}

#custom-pipewire.muted,
#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#keyboard-state {
  padding: 0 0px;
  min-width: 16px;
  color: @mauve;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#clock {
  font-size: 16px;
  font-weight: 900;
}

/* Custom styling for the logout icon on end */
#custom-wlogout {
  font-size: 1.75em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  color: @blue;
}

#custom-separator-right,
#custom-separator-left {
  font-size: 20px;
  padding-left: 1em;
  padding-right: 1em;
  color: @text;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
