# Generated settings:
shareComment=""
shareInclude=""
shareExclude=""
shareUseCache="no"
shareCachePool="cache"
shareCOW="auto"
shareAllocator="highwater"
shareSplitLevel=""
shareFloor="0"
shareExport="e"
shareFruit="no"
shareCaseSensitive="auto"
shareSecurity="private"
shareReadList=""
shareWriteList=""
shareVolsizelimit=""
shareExportNFS="e"
shareExportNFSFsid="101"
shareSecurityNFS="private"
shareHostListNFS="*(rw,sec=sys)"
