/*GTK_DEBUG=interactive nautilus*/

/* FIX: Nautilus Background Not Transparent */
@define-color theme_base_color rgba(0,0,0, 0);
@define-color theme_unfocused_base_color rgba(0,0,0, 0);
@define-color insensitive_base_color rgba(0,0,0, 0);

@define-color theme_bg_color rgba(0,128,255, 0.5);
@define-color theme_unfocused_bg_color rgba(0,128,255, 0.5);
@define-color insensitive_bg_color rgba(0,128,255, 0.5);
@define-color theme_selected_bg_color rgba(0,128,255, 0.5);
@define-color theme_unfocused_selected_bg_color rgba(0,128,255, 0.5);

@define-color theme_fg_color rgba(255,255,255, 1);
@define-color theme_unfocused_fg_color rgba(255,255,255, 1);
@define-color insensitive_fg_color rgba(255,255,255, 1);
@define-color theme_selected_fg_color rgba(255,255,255, 1);
@define-color theme_unfocused_selected_fg_color rgba(255,255,255, 1);

@define-color theme_text_color rgba(255,255,255, 1);
@define-color theme_unfocused_text_color rgba(255,255,255, 1);

@define-color borders rgba(255,255,255, 1);
@define-color unfocused_borders rgba(255,255,255, 1);

@define-color content_view_bg rgba(0,0,0, 0);
@define-color unfocused_insensitive_color rgba(0,0,0, 0);

@define-color warning_color @warning_color_breeze;
@define-color error_color @error_color_breeze;
@define-color success_color @success_color_breeze;




/* OVERRIDE */
/*FIX: Text Color Conflict With BackGround Color*/
/*XFCE Panel Text Color*/
*{
    color: rgba(255,255,255, 1);
/*     background-color: rgba(0,0,0, 0); */
  background-image: none;
}
*:backdrop{
    color: rgba(255,255,255, 1);
/*     background-color: rgba(0,0,0, 0); */
  background-image: none;
}
/*FIX:FireFox Ghost Tab Shadow*/
.background {
    /*background-image:none;*/
/*     background-color: rgba(0,0,0, 0.011); */
    background-color: rgba(0,0,0, 0);
    /*background-color:transparent;*/
/*border:1px solid rgba(255,255,255, 1);*/
}
.background:backdrop {
    /*background-image:none;*/
/*     background-color: rgba(0,0,0, 0.011); */
    background-color: rgba(0,0,0, 0);
    /*background-color:transparent;*/
/*border:1px solid rgba(255,255,255, 1);*/
}

window {
/* this is used for the resize cursor area */
margin: 0px;
padding:0px;
  /*border: 1px solid #F00;*/
  box-shadow: none;
  /*box-shadow: 0px 0px 10px 0px alpha(#FFF, 0.511);*/
  border-radius:2px;
/* background-color: rgba(0,0,0, 0.011); */
/*     background-color: rgba(0,0,0, 0); */
}
window:backdrop {
margin: 0px;
padding:0px;
  /*border: 1px solid #F00;*/
  box-shadow: none;
  /*box-shadow: 0px 0px 10px 0px alpha(#FFF, 0.511);*/
  border-radius:2px;
/* background-color: rgba(0,0,0, 0.011); */
/*     background-color: rgba(0,0,0, 0); */
}

decoration {
/* this is used for the resize cursor area */
/* margin: 5px; */
/* KDE Plasma Decoration */
margin: 0px;
/*Conflict With Nautilus Right Click Menu*/
/*padding:0px;*/

  /*border: 5px solid transparent;*/
  box-shadow: none;
  /*box-shadow: 0px 0px 10px 0px alpha(#FFF, 0.511);*/
  border-radius:2px;
background-color: rgba(0,0,0, 0.011);

/*border:1px solid rgba(255,255,255, 1);*/
/*border:5px solid transparent;*/
}
decoration:backdrop {
/* margin: 5px; */
/* KDE Plasma Decoration */
margin: 0px;
/*Conflict With Nautilus Right Click Menu*/
/*padding:0px;*/

  /*border: 5px solid transparent;*/
  box-shadow: none;
  /*box-shadow: 0px 0px 10px 0px alpha(#FFF, 0.511);*/
  border-radius:2px;
background-color: rgba(0,0,0, 0.011);

/*border:1px solid rgba(255,255,255, 1);*/
/*border:5px solid transparent;*/
}

/* .solid-csd decoration {
  margin: 5px;
  box-shadow: none;
  border-radius:2px;
}
.solid-csd decoration:backdrop {
  margin: 5px;
  box-shadow: none;
  border-radius:2px;
} */




button {
/*   color: rgba(255,255,255, 1); */
  /* background-color: rgba(0,0,0, 0.011); */
  background-color: rgba(0,0,0, 0);
  background-image:none;
}
button:backdrop {
/*   color: rgba(255,255,255, 1); */
  /* background-color: rgba(0,0,0, 0.011); */
  background-color: rgba(0,0,0, 0);
  background-image:none;
}

/* GEdit Status Bar Button */
button.flat {
/*   color: rgba(255,255,255, 1); */
  /* background-color: rgba(0,0,0, 0.011); */
  background-color: rgba(0,0,0, 0);
  background-image:none;
}
button.flat:backdrop {
/*   color: rgba(255,255,255, 1); */
  /* background-color: rgba(0,0,0, 0.011); */
  background-color: rgba(0,0,0, 0);
  background-image:none;
}

/* Nautilus Panel Eject Button */
button.sidebar-button {
  background-color: rgba(0,0,0, 0);
  background-image:none;
}
button.sidebar-button:backdrop {
  background-color: rgba(0,0,0, 0);
  background-image:none;
}


/* Nautilus Create Folder Button */
button.suggested-action {
    /* background-image: linear-gradient(to bottom, #5f9ddd, #4a90d9 40%, #3583d5); */
    background-color: rgba(0,0,0, 0.011);
/*     border-color: rgba(255,255,255, 1); */
  }
button.suggested-action:backdrop {
    /* background-image: linear-gradient(to bottom, #5f9ddd, #4a90d9 40%, #3583d5); */
    background-color: rgba(0,0,0, 0.011);
/*     border-color: rgba(255,255,255, 1); */
  }




/*button:checked {
border:1px solid rgba(255,255,255, 1);
}
button:checked:backdrop {
border:1px solid rgba(255,255,255, 1);
}
button {
border:1px solid rgba(255,255,255, 1);
}
button:backdrop {
border:1px solid rgba(255,255,255, 1);
}*/

/*FIX:Title Button Border Change With Windows10 Theme*/
button.titlebutton {
/*   border:1px solid rgba(255,255,255, 1); */
}
button:disabled {
/*   border:1px solid rgba(255,255,255, 1); */
  background-color: rgba(0,0,0, 0);
}
button:active, button.flat:active, button:checked, button.flat:checked {
/*   border:1px solid rgba(255,255,255, 1); */
}



/*FIX:Mouse Enter Nautilus PathBar*/
/*.linked:not(.vertical) > spinbutton:not(.vertical),
.linked:not(.vertical) > entry,
.linked > button,
.linked > button:hover,
.linked > button:active,
.linked > button:checked,
.linked > button:backdrop,
.linked > combobox > box > button.combo:dir(ltr),
.linked > combobox > box > button.combo:dir(rtl)
{ border-radius: 0; border-right-style: solid; }*/





/*Nautilus, Tilix Search, Menu Button*/
/*headerbar button {
border:1px solid rgba(255,255,255, 1);
}
headerbar button:backdrop {
border:1px solid rgba(255,255,255, 1);
}
headerbar button:hover {
border:1px solid rgba(255,255,255, 1);
}*/






button *{
    text-shadow: none;
}








/*Nautilus Place*/
.nautilus-window placessidebar.sidebar {
    /* background-color: rgba(0,0,0, 0.011); */
}

.sidebar {
    background-color: rgba(0,0,0, 0);
}
.sidebar:backdrop {
    background-color: rgba(0,0,0, 0);
}

/*.sidebar-row {
    background-color: rgba(0,0,0, 0);
}
.sidebar-row:backdrop {
    background-color: rgba(0,0,0, 0);
}

row.activatable {
    background-color: rgba(0,0,0, 0);
}
row.activatable:backdrop {
    background-color: rgba(0,0,0, 0);
}

row.activatable:hover{
    background-color: rgba(0,0,0, 0.011);
}
row.activatable:selected{
    background-color: rgba(0,128,255,0.7);
}
row.activatable:selected:backdrop{
    background-color: rgba(0,128,255,0.7);
}*/








/*FIX:Transparent FireFox, Chormium Save As Dialog (GTK2) BackGround*/
dialog.background{
background-color: rgba(0,0,0, 0.011);
}
dialog.background:backdrop{
background-color: rgba(0,0,0, 0.011);
}














/*GEdit Left Panel*/
list,
stack viewport list {
  background-color: rgba(0,0,0, 0);
}
list:backdrop,
stack viewport list:backdrop {
  background-color: rgba(0,0,0, 0);
}

.gedit-side-panel-paned statusbar {
  background-color: rgba(0,0,0, 0);
}
.gedit-side-panel-paned statusbar:backdrop {
  background-color: rgba(0,0,0, 0);
}

/* Bottom Tab Label Color */
notebook tab:checked label,
notebook tab label {
  color: rgba(255,255,255, 1);
}
notebook tab:checked label:backdrop,
notebook tab label:backdrop {
  color: rgba(255,255,255, 1);
}

vte-terminal {
  background-color: rgba(0,0,0, 0.011);
}
vte-terminal:backdrop {
  background-color: rgba(0,0,0, 0.011);
}




/* Nautilus Panel Icon Text */
label {
  /*margin-left: 8px;
  margin-right: 8px;*/

/*FIX:Mouse Over Text Color*/
    color: rgba(255,255,255, 1);
/*       background-image: none; */
    background-color: rgba(0,0,0, 0);
}
label:backdrop {
  /*margin-left: 8px;
  margin-right: 8px;*/

    color: rgba(255,255,255, 1);
/*       background-image: none; */
    background-color: rgba(0,0,0, 0);
}
/*FIX:Nautilus Pathbar Click Popover Color Change When Hover With Windows10 Theme*/
/* Nautilus Item Text & App Menu Color */
/* GEdit App Menu Color */
label:disabled {
  color: rgba(128,128,128, 1);
/*     background-image: none; */
}
label:disabled:backdrop {
  color: rgba(128,128,128, 1);
/*     background-image: none; */
}


.floating-bar {
    background-color: rgba(0,0,0, 0.011);
}








/*FireFox BookMark DropDown Menu*/
/* GEdit Python Console, Tool Output Background Color */
.view{
  background-image: none;
  background-color: rgba(0,0,0, 0);
  color: rgba(255,255,255, 1);
}
/*GTK Inspector View Background*/
.view:backdrop{
  background-image: none;
  background-color: rgba(0,0,0, 0);
  color: rgba(255,255,255, 1);
}


/*Pantheon Files Icon BackGround*/
.view *{
/*     background-color: transparent; */
    background-color: rgba(0,0,0, 0);
}
.view *:backdrop{
/*     background-color: transparent; */
    background-color: rgba(0,0,0, 0);
}

/*FIX:GEdit Background Color When Hover*/
.view text {
/*   background-color: transparent; */
    background-color: rgba(0,0,0, 0);
}
.view text:backdrop {
/*   background-color: transparent; */
    background-color: rgba(0,0,0, 0);
}

/* GEdit Python Console Text Color */
textview text{
  color: rgba(255,255,255, 1);
}
textview text:backdrop{
  color: rgba(255,255,255, 1);
}




/* Nautilus Right View */
/*.view:hover:not(:selected),
iconview:hover:not(:selected) {
    background-color: rgba(0,0,0, 0.011);
}
.view:hover:not(:selected):backdrop,
iconview:hover:not(:selected):backdrop {
    background-color: rgba(0,0,0, 0.011);
}

.view:selected {
    background-color: rgba(0,128,255,0.7);
}
.view:selected:backdrop {
    background-color: rgba(0,128,255,0.7);
}

.view:selected:focus {
    background-color: rgba(0,128,255,0.7);
}
.view:selected:focus:backdrop{
    background-color: rgba(0,128,255,0.7);
}
.view:selected:focus:hover{
    background-color: rgba(0,128,255,0.7);
}
.view:selected:focus:hover:backdrop{
    background-color: rgba(0,128,255,0.7);
}

treeview.view:selected{
    background-color: rgba(0,128,255,0.7);
}
treeview.view:selected:backdrop{
    background-color: rgba(0,128,255,0.7);
}*/


/*FIX Pantheon Files Not Transparent*/
iconview{
/*     background-color: transparent; */
background-color: rgba(0,0,0, 0);
}
iconview:backdrop{
/*     background-color: transparent; */
background-color: rgba(0,0,0, 0);
}
notebook scrolledwindow{
/*     background-color: transparent; */
background-color: rgba(0,0,0, 0);
}
notebook scrolledwindow:backdrop{
/*     background-color: transparent; */
background-color: rgba(0,0,0, 0);
}

/* Column View Background */
notebook viewport {
  background-color: rgba(0,0,0, 0);
}

/* Place Panel */
.view.sidebar.source-list {
  background-color: rgba(0,0,0, 0);
}

/* Path */
spinbutton,
entry {
/*       background-image: none; */

  background-color: rgba(0,0,0, 0);
}
spinbutton:backdrop,
entry:backdrop {
/*       background-image: none; */

  background-color: rgba(0,0,0, 0);
}

/* Trash Bar */
.inline-toolbar {
    background-color: rgba(0,0,0, 0);
}




/* Thunar */
toolbar {
    background-color: rgba(0,0,0, 0);
}




/* Remove Load Button On Tab Background */
.dynamic-notebook
{
  -gtk-icon-source: none;
  /* -gtk-icon-palette: none; */
  /* background-color: alpha(#FF0000,0.511); */
  /* margin-top: 40px; */
  /* margin-bottom: 40px; */
}

/* Content Border */
notebook > stack {
    /*border: 1px solid rgba(255,255,255, 1);*/
/*     background-color: transparent; */
    background-color: rgba(0,0,0, 0);
}

notebook {
/*margin:10;*/
/* background-color: transparent; */
    background-color: rgba(0,0,0, 0);
}

/* Right Background */
.nautilus-window notebook > stack {
    background-color: rgba(0,0,0, 0);
}
.nautilus-window notebook {
    /* background-color: rgba(0,0,0, 0.011); */
    background-color: rgba(0,0,0, 0);
}

/*Nautilus, Tilix Content (Under Tab)*/
notebook > stack:not(:only-child) {
    /* MOD */
    /* border: 1px solid shade(rgba(0,0,0, 0.75), 0.72); */
    /* background-color:#ff0000; */
    /* Icon List */
    /* background-color: @theme_base_color; */
    /* border: 1px solid rgba(255,255,255, 1); */
/*     background-color: rgba(0,0,0, 0); */
}

/*FIX:Nautilus Multiple Tab Not Transparent*/
notebook > header{
/* background-color:transparent; */
background-color: rgba(0,0,0, 0);
/*border-left:1px solid rgba(255,255,255, 1);
border-right:1px solid rgba(255,255,255, 1);*/
}
notebook > header:backdrop{
/* background-color:transparent; */
background-color: rgba(0,0,0, 0);
/*border-left:1px solid rgba(255,255,255, 1);
border-right:1px solid rgba(255,255,255, 1);*/
}

notebook > stack:not(:only-child) { 
/*     background-color: transparent; */
background-color: rgba(0,0,0, 0);
}
notebook > stack:not(:only-child):backdrop { 
/*     background-color: transparent; */
background-color: rgba(0,0,0, 0);
}








/* Conflict:Right Click Menu Change Separator Color */
paned > separator:hover:not(selected):not(:active):not(:backdrop){
  /* background-color: rgba(0,128,255,0.7); */
  /* background-image: linear-gradient(to bottom, rgba(0,128,255,0.7), rgba(0,128,255,0.7)); */
}



/* Appearance dialog separator */
/*FIX:Nautilus Left Pane Item Height Change*/
paned separator,
paned separator.vertical {
  background-color: rgba(255,255,255, 1);
  /*min-width: 1px;
  min-height: 1px;*/
}
paned separator:backdrop,
paned separator.vertical:backdrop {
  background-color: rgba(255,255,255, 1);
  /*min-width: 1px;
  min-height: 1px;*/
}


paned > separator {
  background-color: transparent;
}
paned > separator:backdrop {
  background-color: transparent;
}



/* Pantheon File Column */
/*Nautilus Pane Separator*/
/* FIX:Column separator mouse over */
paned > separator {
  /*min-width: 1px;
  min-height: 1px;*/
  /* FIX:Wired Dot Background */  
  -gtk-icon-source: none;
  /* border-style: none; */
  /* background-color: transparent; */
  /* background-image: linear-gradient(to bottom, rgba(255,255,255, 1), rgba(255,255,255, 1)); */
  /* background-color: rgba(255,255,255, 1); */
  /* background-size: 1px 1px; */

/*background-color: transparent;*/
}
  paned > separator:selected {
    /* background-image: linear-gradient(to bottom, #16a085, #16a085); */
    /* background-color: rgba(0,128,255,0.7); */
  }
  paned > separator.wide {
    /*min-width: 5px;
    min-height: 5px;*/
    /* background-color: #353836; */
    /* background-image: linear-gradient(to bottom, rgba(255,255,255, 1), rgba(255,255,255, 1)), linear-gradient(to bottom, rgba(255,255,255, 1), rgba(255,255,255, 1)); */
    /* MOD */
    /* background-color: rgba(255,255,255, 1); */
    /* background-size: 1px 1px, 1px 1px; */
  }

/*paned.horizontal > separator {
  background-repeat: repeat-y;
}
  paned.horizontal > separator:dir(ltr) {
    margin: 0 -8px 0 0;
    padding: 0 8px 0 0;
    background-position: left;
}
  paned.horizontal > separator:dir(rtl) {
    margin: 0 0 0 -8px;
    padding: 0 0 0 8px;
    background-position: right;
}
  paned.horizontal > separator.wide {
    margin: 0;
    padding: 0;
    background-repeat: repeat-y, repeat-y;
    background-position: left, right; }


paned.vertical > separator {
  margin: 0 0 -8px 0;
  padding: 0 0 8px 0;
  background-repeat: repeat-x;
  background-position: top;
}
  paned.vertical > separator.wide {
    margin: 0;
    padding: 0;
    background-repeat: repeat-x, repeat-x;
    background-position: bottom, top; }*/












.app-notification{
    background-color: rgba(0,0,0, 0.011);
}
.app-notification:backdrop{
    background-color: rgba(0,0,0, 0.011);
}
/*.app-notification *{
    border:none;
}
.app-notification:backdrop *{
    border:none;
}*/












/*Remove Rounded Corner*/
window headerbar:first-child:backdrop, 
window headerbar:first-child {
border-radius: 0px;
}
window headerbar:last-child:backdrop, 
window headerbar:last-child {
border-radius: 0px;
}

.background .titlebar:backdrop,
.background .titlebar { 
border-top-left-radius: 0px; 
border-top-right-radius: 0px; 
}


/*FIX: GEdit When Hide Side Panel*/
window separator:first-child + headerbar:backdrop,
window separator:first-child + headerbar
{ border-radius: 0px; }

window separator:last-child + headerbar:backdrop,
window separator:last-child + headerbar
{ border-radius: 0px; }




/*Nautilus Place Panel*/
paned{
/*border:1px solid rgba(255,255,255, 1);*/
/* border-radius:0px; */
/*border-top:none;*/
/* border:none; */
}
paned:backdrop{
/*border:1px solid rgba(255,255,255, 1);*/
/* border-radius:0px; */
/*border-top:none;*/
/* border:none; */
}





/*Tilix Title Text Box*/
window stack{
/*border:1px solid rgba(255,255,255, 1);*/
border-radius:0px;
}
window stack:backdrop{
/*border:1px solid rgba(255,255,255, 1);*/
border-radius:0px;
}




/*FIX:Nautilus Tab Height Change When Hover With Windows10 Theme*/
notebook > header tab button.flat {
    /*min-width: 0px;
    min-height: 0px;
    margin-top: 0px;
    margin-bottom: 0px;*/
}
notebook > header tab button.flat:backdrop {
    /*min-width: 0px;
    min-height: 0px;
    margin-top: 0px;
    margin-bottom: 0px;*/
}




/*FIX:Nautilus Tab Close Button Change When Hover With Windows10 Theme*/
/*header tab button.flat,
header tab menuitembutton.flat,
header tab button:link,
header tab button:visited,
header tab button:link:hover,
header tab button:link:active,
header tab button:visited:hover,
header tab button:visited:active,
header tab notebook tab button,
header tab .list-rowbutton,
header tab GtkCalendarbutton {
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0);
  text-shadow: none;
  -gtk-icon-shadow: none;
}
header tab button.flat:backdrop,
header tab menuitembutton.flat:backdrop,
header tab button:link:backdrop,
header tab button:visited:backdrop,
header tab button:link:hover:backdrop,
header tab button:link:active:backdrop,
header tab button:visited:hover:backdrop,
header tab button:visited:active:backdrop,
header tab notebook tab button:backdrop,
header tab .list-rowbutton:backdrop,
header tab GtkCalendarbutton:backdrop {
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0);
  text-shadow: none;
  -gtk-icon-shadow: none;
}*/


/*FIX:Nautilus Header Icon Change When Hover With Windows10 Theme*/
/*headerbar button.flat {
  border:1px solid rgba(255,255,255, 1);
}
headerbar button.flat:backdrop {
  border:1px solid rgba(255,255,255, 1);
}*/


/*FIX:Nautilus Header Icon Change When Click With Windows10 Theme*/
/*button.flat{
	border:1px solid rgba(255,255,255, 1);
	background-image: none;
}

button:hover,
button.flat:hover,
button:active,
button.flat:active,
button:checked,
button.flat:checked {
    border:1px solid rgba(255,255,255, 1);
    background-image: none;
}*/


/*FIX: Nautilus Path Bar Click Popover Border Change When Hover With Windows10 Theme*/
/*popover.background {
  border:1px solid rgba(255,255,255, 1);
}
popover.background:backdrop {
  border:1px solid rgba(255,255,255, 1);
}*/




/*notebook {
border-image-width:0;
}
notebook:backdrop {
border-image-width:0;
}*/



/*FIX:Gedit Header Bar Black Block*/
/*paned separator:backdrop {
    border: none;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    caret-color:transparent;
}

paned separator:not(:backdrop) {
    border: none;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    caret-color:transparent;
}*/





/*FIX:GTK Inspector Arr Button Color*/
treeview.view.expander {
    color: rgba(255,255,255, 1);
}
treeview.view.expander:dir(rtl) {
    color: rgba(255,255,255, 1);
}
treeview.view.expander:hover {
    color: rgba(255,255,255, 1);
}
treeview.view.expander:selected {
    color: rgba(255,255,255, 1);
}
treeview.view.expander:checked {
    color: rgba(255,255,255, 1);
}
treeview.view.expander:checked:selected {
    color: rgba(255,255,255, 1);
}
treeview.view.expander:checked:backdrop {
    color: rgba(255,255,255, 1);
}
treeview.view.expander:backdrop {
    color: rgba(255,255,255, 1);
}



/*FIX:GTK Inspector Column Color*/
treeview.view header button {
    background-color: rgba(0,0,0, 0);
}
treeview.view header button:backdrop {
    background-color: rgba(0,0,0, 0);
}


/*FIX:GTK Inspector Disabled Item Text Color*/
/*  treeview.view:disabled {
    color: rgba(255,255,255, 0.511);
}
treeview.view:disabled:backdrop {
    color: rgba(255,255,255, 0.511);
}

    treeview.view:disabled:selected {
      color: rgba(216, 218, 221, 0.35); }
      treeview.view:disabled:selected:backdrop {
        color: rgba(216, 218, 221, 0.35); }*/

    






/*GEdit Inner Boxs*/
/*paned > headerbar {
border:1px solid rgba(255,255,255, 1);
}
paned > headerbar:backdrop {
border:1px solid rgba(255,255,255, 1);
}*/


/*Nautilus Inner Boxs*/
/*paned > box{
border:1px solid rgba(255,255,255, 1);
}
paned > box:backdrop{
border:1px solid rgba(255,255,255, 1);
}*/




/*FIX:Border To Other Monitor*/
headerbar{
margin-bottom:-1px;
}
headerbar:backdrop{
margin-bottom:-1px;
}

window > *:not(decoration){
border:1px solid rgba(255,255,255, 1);
}
window > *:not(decoration):backdrop {
border:1px solid rgba(255,255,255, 1);
}




/*FIX: Nautilus Desktop Border In XFCE*/
.nautilus-desktop-window *{
border:none;

margin:-1px;
}
.nautilus-desktop-window *:backdrop{
border:none;

margin:-1px;
}




/*.nautilus-window {
  background-color: rgba(120,0,0, 0.511);
}
.nautilus-window:backdrop {
  background-color: rgba(120,0,0, 0.511);
}*/

/*.nautilus-window.background{
  background-color: rgba(120,0,0, 0.511);
}
.nautilus-window.background:backdrop {
  background-color: rgba(120,0,0, 0.511);
}*/

/*.background.csd.nautilus-window.unified {
    background-color: rgba(120,0,0, 0.511);
}
.background.csd.nautilus-window.unified:backdrop {
    background-color: rgba(120,0,0, 0.511);
}*/








/*Nautilus, Tilix Tab*/
header tab *,
header tab *:backdrop{
    /*min-height: 0px;
    margin:0px;
    padding:0px;*/
}


header tab button.flat,
header tab button.flat:backdrop{
    /*min-height: 0px;
    margin:0px;
    padding:0px;*/
}




/*All Left Panel*/
.frame:not(notebook)  {
  /* FIX:Nautilus Panel */
  /* border: 1px solid rgba(255,255,255, 1); */
}


/*Nautilus Right Click Menu*/
menu,
.menu {
  /* FIX:Over Shadow Problem */
  background-color: rgba(0,0,0, 0.011);
  /* border: 1px solid rgba(255,255,255, 1); */
}











/*FIX:GEdit File Panel DropDown Text*/
headerbar * * *{
color: rgba(255,255,255, 1);
}
headerbar *:backdrop *:backdrop *:backdrop{
color: rgba(255,255,255, 1);
}



/*Tilix Title Height*/
/*FIX:GTK Inspector Mouse Over Height Change*/
/*headerbar *:not(button) *{
min-height:0px;
}
headerbar *:not(button) *:backdrop{
min-height:0px;
}*/



/*FIX:Tilix Title Text*/
/*headerbar > * > * {
min-height:0px;
}
headerbar:backdrop > *:backdrop > *:backdrop {
min-height:0px;
}*/



/*FIX:Maximized Header Bar Transparent*/
/*FIX:TitleBar Background Color & Border Change When Hover*/
.titlebar,
headerbar {
  /*border-bottom: 1px solid rgba(255,255,255, 1);*/
  background-color:transparent;
  background-color: rgba(0,0,0, 0.011);
  background-image:none;
  border:1px solid rgba(255,255,255, 1);
}
.titlebar:backdrop,
headerbar:backdrop {
  /*border-bottom: 1px solid rgba(255,255,255, 1);*/
  background-color:transparent;
  background-color: rgba(0,0,0, 0.011);
  background-image:none;
  border:1px solid rgba(255,255,255, 1);
}


/*FIX:FireFox TitleBar Height Change When Hover*/
/*Copied From gtk-contained.css*/
.default-decoration.titlebar:not(headerbar),
headerbar.default-decoration {
/*   min-height: 0px; */
  /*padding: 4px;*/
}
.default-decoration.titlebar:not(headerbar):backdrop,
headerbar.default-decoration:backdrop {
/*   min-height: 0px; */
  /*padding: 4px;*/
}
.default-decoration.titlebar:not(headerbar) button.titlebutton,
headerbar.default-decoration button.titlebutton {
  /*min-height: 0px;
  min-width: 0px;*/
  /*margin: 0;*/
  /*padding: 0;*/
}
.default-decoration.titlebar:not(headerbar) button.titlebutton:backdrop,
headerbar.default-decoration button.titlebutton:backdrop {
  /*min-height: 0px;
  min-width: 0px;*/
  /*margin: 0;*/
  /*padding: 0;*/
}





/* shrink headebars */
/*headerbar {
    min-height: 0px;
}
headerbar:backdrop {
    min-height: 0px;
}*/


/*headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
    margin-top: 0px;
    margin-bottom: 0px;
}*/

/*headerbar entry:backdrop,
headerbar spinbutton:backdrop,
headerbar button:backdrop,
headerbar separator:backdrop {
    margin-top: 0px;
    margin-bottom: 0px;
}*/

/* shrink ssd titlebars */
.default-decoration {
    /* let the entry and button drive the titlebar size */ 
    /*min-height: 0px;
    min-width: 0px;*/
}

.default-decoration .titlebutton {
    /* tweak these two props to reduce button size */
    /*min-height: 0px;
    min-width: 0px;*/
}




/* FIX:Manjaro Updater */
    /* Full Height Min Max Close Button */
    headerbar button{
      /*margin-top: 0px;
      margin-bottom: 0px;*/
      /*background-color:rgba(128,128,128,0.511);*/
    }

    headerbar button:backdrop {
      /*margin-top: 0px;
      margin-bottom: 0px;*/
      /*background-color:rgba(128,128,128,0.511);*/
    }


/*Not Min Max Close Button*/
headerbar button:not(.titlebutton){
  background-image:none;
  background-color:rgba(0,0,0, 0);
  border: 1px solid rgba(255,255,255, 0.5);
}
headerbar button:not(.titlebutton):backdrop{
  background-image:none;
  background-color:rgba(0,0,0, 0);
  border: 1px solid rgba(255,255,255, 0.5);
}

/* Nautilus Path Bar */
headerbar .linked button,
headerbar .linked button:disabled {
  background-image:none;
  background-color:rgba(0,0,0, 0);
  border: 1px solid rgba(255,255,255, 0.5);
}
headerbar .linked button:backdrop,
headerbar .linked button:disabled:backdrop {
  background-image:none;
  background-color:rgba(0,0,0, 0);
  border: 1px solid rgba(255,255,255, 0.5);
}

/* Close Button */
window headerbar button.titlebutton.close,
window .titlebar button.titlebutton.close {
  background-image:none;
  background-color:rgba(0,0,0, 0);
}
window headerbar button.titlebutton.close:backdrop,
window .titlebar button.titlebutton.close:backdrop {
  background-image:none;
  background-color:rgba(0,0,0, 0);
}

window headerbar button.titlebutton image,
window .titlebar button.titlebutton image {
  color: rgba(255,255,255, 1);
}
window headerbar button.titlebutton image:backdrop,
window .titlebar button.titlebutton image:backdrop {
  color: rgba(255,255,255, 1);
}




/* Nautilus Header Button */
headerbar label,
headerbar label:backdrop {
    color: rgba(255,255,255, 1);
/*         background-image: none; */
/*   background-color:rgba(0,0,0, 0); */
}
/* Tilix Title */
headerbar .title,
headerbar .title:backdrop{
    color: rgba(255,255,255, 1);
}

/* FIX:Tilix Header Bar Height Different */
/* headerbar *:not(button) {
padding-top:0px;
padding-bottom:0px;
margin-top:0px;
margin-bottom:0px;
min-width:0px;
min-height:0px;
}
headerbar *:not(button):backdrop {
padding-top:0px;
padding-bottom:0px;
margin-top:0px;
margin-bottom:0px;
min-width:0px;
min-height:0px;
} */







/*Gedit App Menu, Nautilus Rename Pop*/
popover,
popover.background {
  box-shadow: 0 0 8px rgba(255,255,255, 0.25);
  color: rgba(255,255,255, 1);
    background-image:none;
    background-color: rgba(0,0,0, 0.011);
    /* border: 1px solid rgba(255,255,255, 1); */
    border: 1px solid rgba(255,255,255, 0.5);
}
popover:backdrop,
popover.background:backdrop {
  box-shadow: 0 0 8px rgba(255,255,255, 0.25);
  color: rgba(255,255,255, 1);
    background-image:none;
    background-color: rgba(0,0,0, 0.011);
    /* border: 1px solid rgba(255,255,255, 1); */
    border: 1px solid rgba(255,255,255, 0.5);
}






